.line-div {
  position: absolute;
  top: 3.5px;
  left: 0.5px;
  border-top: 3px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 45px;
  height: 3px;
}
.frame-child15,
.line-icon {
  position: absolute;
  top: 11px;
  left: 2px;
  width: 34px;
  height: 3px;
}
.frame-child15 {
  top: 18.5px;
  left: 0.5px;
  border-top: 3px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 29px;
}
.line-parent {
  width: 47px;
  height: 22px;
  position: relative;
  display: none;
  z-index: 0;
}
.choose-your-preferred1,
.work-place1 {
  position: relative;
  font-weight: 600;
  display: none;
}
.work-place1 {
  height: 28px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-300);
  flex-shrink: 0;
  z-index: 1;
}
.choose-your-preferred1 {
  width: 217px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-500);
  z-index: 2;
}
.nav-frame-icon {
  width: 21px;
  height: 19px;
  position: absolute;
  margin: 0 !important;
  top: 83px;
  right: 49px;
  cursor: pointer;
}
.frame-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  border: 2px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 58px;
  height: 49.7px;
  display: none;
}
.vector-icon7 {
  position: absolute;
  top: 11.7px;
  left: 11px;
  width: 37px;
  height: 27px;
  cursor: pointer;
  z-index: 1;
}
.frame-child17 {
  position: absolute;
  top: 8.7px;
  left: 11px;
  border-radius: 50%;
  background-color: var(--color-mediumaquamarine);
  width: 7px;
  height: 7px;
  z-index: 2;
}
.food-card-1-item,
.rectangle-parent6 {
  position: absolute;
  box-sizing: border-box;
}
.rectangle-parent6 {
  cursor: pointer;
  border: 2px solid var(--color-silver-200);
  padding: 0;
  background-color: transparent;
  width: 58px;
  height: 49.7px;
  margin: 0 !important;
  top: 214.3px;
  right: 33px;
  border-radius: var(--br-10xs);
}
.food-card-1-item {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-100);
  width: 182px;
  height: 230px;
}
.unsplashfdlzbwip0am-icon1 {
  top: 38px;
  left: 31px;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.frame-child18,
.frame-child19,
.unsplashfdlzbwip0am-icon1 {
  position: absolute;
  border-radius: 50%;
}
.frame-child18 {
  top: 0;
  left: 0;
  border: 0 solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 18px;
  height: 18px;
}
.frame-child19 {
  top: 3px;
  left: 3px;
  background-color: var(--color-mediumaquamarine);
  width: 12px;
  height: 12px;
}
.div3,
.ellipse-parent5 {
  position: absolute;
  top: 12px;
  left: 11px;
  width: 18px;
  height: 18px;
}
.div3 {
  top: 188px;
  left: 28px;
  letter-spacing: 0.01em;
  line-height: 154.5%;
  font-weight: 600;
  display: inline-block;
  width: 59px;
  height: 16px;
}
.currencynaira-ngn-icon10,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  top: 190px;
  left: 8px;
  width: 21px;
  height: 19px;
  overflow: hidden;
}
.vector-icon8,
.vector-icon9 {
  height: 7.3%;
  width: 11.54%;
  top: 5.65%;
  right: 5.49%;
  bottom: 87.04%;
  left: 82.97%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon9 {
  height: 8.26%;
  width: 12.36%;
  top: 81.74%;
  right: 5.22%;
  bottom: 10%;
  left: 82.42%;
}
.egg-paprica2 {
  position: absolute;
  top: 165px;
  left: 11px;
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--color-darkslategray-600);
  display: inline-block;
  width: 73px;
  height: 16px;
}
.food-card-11 {
  width: 182px;
  height: 230px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  z-index: 5;
  font-size: var(--font-size-mini);
  color: var(--color-mediumaquamarine);
}
.food-card-3-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  width: 182px;
  height: 230px;
}
.unsplashkca-c3f-3fe-icon1 {
  top: 38px;
  left: 31px;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.frame-child20,
.frame-child21,
.unsplashkca-c3f-3fe-icon1 {
  position: absolute;
  border-radius: 50%;
}
.frame-child20 {
  top: 0;
  left: 0;
  border: 0 solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 18px;
  height: 18px;
}
.frame-child21 {
  top: 4px;
  left: 4px;
  background-color: var(--color-mediumaquamarine);
  width: 10px;
  height: 10px;
}
.div4,
.ellipse-parent6 {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 18px;
  height: 18px;
}
.div4 {
  top: 188px;
  left: 28px;
  font-size: var(--font-size-mini);
  letter-spacing: 0.01em;
  line-height: 154.5%;
  font-weight: 600;
  color: var(--color-mediumaquamarine);
  display: inline-block;
  width: 66px;
}
.currencynaira-ngn-icon11,
.vector-icon10,
.vector-icon11 {
  position: absolute;
  top: 190px;
  left: 8px;
  width: 21px;
  height: 19px;
  overflow: hidden;
}
.vector-icon10,
.vector-icon11 {
  height: 7.22%;
  width: 11.54%;
  top: 6.57%;
  right: 6.98%;
  bottom: 86.22%;
  left: 81.48%;
  max-width: 100%;
  max-height: 100%;
}
.vector-icon11 {
  height: 8.26%;
  width: 12.36%;
  top: 81.74%;
  right: 6.87%;
  bottom: 10%;
  left: 80.77%;
}
.pizza2,
.rice-bowl1 {
  position: absolute;
  top: 166px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 80px;
  height: 16px;
}
.pizza2 {
  left: 201px;
  width: 38px;
}
.food-card-31 {
  width: 182px;
  height: 230px;
  background-color: var(--color-gainsboro);
  z-index: 6;
}
.bg-icon7,
.food-card-31,
.items2 {
  position: relative;
  display: none;
}
.items2 {
  width: 72px;
  height: 23px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--color-gray-400);
  flex-shrink: 0;
  z-index: 7;
}
.bg-icon7 {
  height: 30px;
  width: 219px;
  object-fit: cover;
}
.left-side-icon7 {
  align-self: stretch;
  width: 28.4px;
  position: relative;
  max-height: 100%;
  min-height: 11px;
}
.mobile-signal-icon7,
.wifi-icon7 {
  height: 10.7px;
  width: 17px;
  position: relative;
}
.wifi-icon7 {
  height: 11px;
  width: 15.3px;
}
.battery2 {
  margin: 0;
  align-self: stretch;
  width: 24.3px;
  position: relative;
  min-height: 11px;
}
.iosstatus-barblack7,
.right-side7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.right-side7 {
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-9xs);
}
.iosstatus-barblack7 {
  width: 428px;
  margin: 0 !important;
  position: absolute;
  top: 11px;
  right: -152px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
  padding: var(--padding-lg) var(--padding-base) var(--padding-xl)
    var(--padding-14xl);
  box-sizing: border-box;
}
.list-manu-frame {
  height: 10px;
  width: 17px;
  position: absolute;
  margin: 0 !important;
  top: 135px;
  right: 70px;
}
.side-frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  border: 2px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 57px;
  height: 50px;
  display: none;
}
.n-g-n-instance {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 35px;
  height: 30px;
  z-index: 1;
}
.side-frame,
.text-frame1 {
  height: 50px;
  width: 57px;
  position: absolute;
  margin: 0 !important;
  top: 213px;
  right: -27px;
  border-radius: var(--br-10xs);
  border: 2px solid var(--color-silver-200);
  box-sizing: border-box;
}
.text-frame1 {
  outline: 0;
  background-color: transparent;
  height: 51px;
  right: 79px;
}
.rectangle-instance-icon {
  height: 30px;
  width: 38px;
  top: 224px;
  right: 89px;
  z-index: 1;
}
.list-item-bottom,
.rectangle-instance-icon,
.vector-instance {
  position: absolute;
  margin: 0 !important;
}
.vector-instance {
  border: 2px solid var(--color-mediumaquamarine);
  outline: 0;
  background-color: transparent;
  height: 49px;
  width: 58px;
  top: 213px;
  left: 23px;
  border-radius: var(--br-10xs);
  box-sizing: border-box;
}
.list-item-bottom {
  height: 29px;
  width: 45px;
  top: 224px;
  left: 29px;
  z-index: 1;
}
.food-card-2-item {
  width: 182px;
  height: 230px;
  position: relative;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: none;
}
.frame-child22,
.frame-child23 {
  position: absolute;
  border-radius: 50%;
}
.frame-child22 {
  top: 0;
  left: 0;
  border: 0 solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  z-index: 1;
}
.frame-child23 {
  top: 4px;
  left: 4px;
  background-color: var(--color-mediumaquamarine);
  width: 10px;
  height: 10px;
  z-index: 2;
}
.ellipse-parent7 {
  width: 18px;
  height: 18px;
  position: relative;
}
.frame-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
}
.unsplash-mq-tasuo-ic-u1 {
  height: 16.6px;
  width: 21px;
  position: relative;
  z-index: 1;
}
.frame-parent5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.food-card-2-inner1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-10xs);
}
.unsplashplkgcsboiw4-icon2 {
  height: 120px;
  width: 120px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.unsplashplkgcsboiw4-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-4xl);
}
.beef-burger2 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.i-o-s-status-bar-black {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.currencynaira-ngn-icon12 {
  height: 19px;
  width: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.right-frame {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 600;
  z-index: 1;
  margin-left: -1px;
}
.left-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-frame-icon {
  height: 19px;
  width: 22.5px;
  position: relative;
  z-index: 1;
}
.currency-frame {
  align-self: stretch;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-mini);
  color: var(--color-mediumaquamarine);
}
.food-card-21,
.food-card-4-item {
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
}
.food-card-21 {
  width: 183px;
  margin: 0 !important;
  position: absolute;
  top: 289px;
  right: -130px;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-2xl)
    var(--padding-5xs);
  gap: var(--gap-7xs);
  cursor: pointer;
}
.food-card-4-item {
  width: 182px;
  height: 230px;
  position: relative;
  display: none;
  z-index: 0;
}
.frame-child24,
.frame-child25 {
  position: absolute;
  border-radius: 50%;
}
.frame-child24 {
  top: 0;
  left: 0;
  border: 0 solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  z-index: 1;
}
.frame-child25 {
  top: 4px;
  left: 4px;
  background-color: var(--color-mediumaquamarine);
  width: 10px;
  height: 10px;
  z-index: 2;
}
.ellipse-parent8 {
  width: 18px;
  height: 18px;
  position: relative;
}
.unsplashmqt0asuoicu-icon1 {
  height: 120px;
  width: 120px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.unsplashmqt0asuoicu-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
}
.currency-naira-icon {
  width: 21px;
  height: 16.6px;
  position: absolute;
  margin: 0 !important;
  top: 4.1px;
  right: -18.1px;
  z-index: 1;
}
.food-card-4-inner1,
.frame-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent6 {
  flex: 1;
  flex-direction: column;
  position: relative;
  gap: var(--gap-4xs);
}
.food-card-4-inner1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
}
.currencynaira-ngn-icon13 {
  height: 19px;
  width: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.div5 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 600;
  z-index: 1;
  margin-left: -1px;
}
.currencynaira-ngn-parent3 {
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.food-card-41,
.vector-icon12 {
  margin: 0 !important;
  position: absolute;
}
.vector-icon12 {
  width: 22.5px;
  height: 19px;
  right: 12.5px;
  bottom: 21px;
  z-index: 1;
}
.food-card-41 {
  width: 182px;
  right: -130px;
  bottom: 112px;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-silver-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-9xl) var(--padding-2xl)
    var(--padding-5xs);
  gap: var(--gap-11xl);
  font-size: var(--font-size-mini);
  color: var(--color-mediumaquamarine);
}
.currency-card-frame-child {
  height: 59px;
  width: 370px;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-31xl) var(--br-31xl);
  background-color: var(--color-mediumaquamarine);
  display: none;
}
.currencynaira-ngn-icon14 {
  height: 20px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.currency-frame1 {
  width: calc(100% - 302px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 22px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  min-width: 41px;
}
.currency-card-frame,
.map-icon1 {
  position: absolute;
  margin: 0 !important;
}
.currency-card-frame {
  width: 371px;
  right: -128px;
  bottom: 20px;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-31xl) var(--br-31xl);
  background-color: var(--color-mediumaquamarine);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-36xl) var(--padding-base) 223px;
  box-sizing: border-box;
}
.map-icon1 {
  height: 15.4px;
  width: 12px;
  top: 130px;
  left: 24px;
}
.skarmavbild-2022-03-19-kl-09 {
  align-self: stretch;
  height: 713px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
  z-index: 0;
}
.af {
  height: 22px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.avatar {
  width: 44px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumaquamarine);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xs) 0;
  box-sizing: border-box;
}
.animatedfred {
  align-self: stretch;
  position: relative;
}
.animateddemocom {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--light-subtext);
}
.avatar-instance,
.profile,
.text {
  display: flex;
  justify-content: flex-start;
}
.text {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: var(--light-text);
}
.avatar-instance,
.profile {
  flex-direction: row;
}
.profile {
  flex: 1;
  align-items: flex-end;
  padding: var(--padding-xl) var(--padding-11xl) var(--padding-xl) 0;
  gap: var(--gap-5xs);
}
.avatar-instance {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-10xs);
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.left-side-frame1 {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.content,
.list-manu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content {
  flex: 1;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-base);
}
.list-manu {
  align-self: stretch;
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-smi) var(--padding-mini);
}
.icon1,
.text1 {
  position: relative;
}
.icon1 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text1 {
  flex: 1;
  line-height: 140%;
  font-weight: 500;
}
.content1,
.list-manu1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content1 {
  flex: 1;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-base);
}
.list-manu1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-smi) var(--padding-mini);
}
.icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.vector-map {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.content2,
.list-manu3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content2 {
  flex: 1;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-base);
}
.list-manu3 {
  width: 218px;
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-smi) var(--padding-mini);
  box-sizing: border-box;
}
.list-item-frame {
  height: 24px;
  width: 25px;
  position: relative;
  z-index: 1;
  margin-left: -199px;
}
.list-manu2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon3,
.text2 {
  position: relative;
}
.icon3 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text2 {
  flex: 1;
  line-height: 140%;
  font-weight: 500;
}
.content3,
.list-manu4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content3 {
  flex: 1;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-base);
}
.list-manu4 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-smi) var(--padding-mini);
}
.icon4,
.text3 {
  position: relative;
}
.icon4 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text3 {
  flex: 1;
  line-height: 140%;
  font-weight: 500;
}
.content4,
.list-manu6 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content4 {
  flex: 1;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-base);
}
.list-manu6 {
  width: 218px;
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-smi) var(--padding-mini);
  box-sizing: border-box;
}
.map-icon2 {
  height: 24px;
  width: 18.8px;
  position: relative;
  z-index: 1;
  margin-left: -199px;
}
.list-manu5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon5,
.text4 {
  position: relative;
}
.icon5 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text4 {
  flex: 1;
  line-height: 140%;
  font-weight: 500;
}
.content5,
.list-manu8 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content5 {
  flex: 1;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-base);
}
.list-manu8 {
  width: 218px;
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-smi) var(--padding-smi) var(--padding-mini);
  box-sizing: border-box;
}
.vector-icon13 {
  height: 22px;
  width: 22px;
  position: relative;
  z-index: 1;
  margin-left: -201px;
}
.list-manu7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.chevron-instance,
.profile-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-instance {
  width: 218px;
  gap: var(--gap-base);
  text-align: left;
  color: var(--light-subtext);
  font-family: var(--font-poppins);
}
.profile-frame {
  width: 235px;
  gap: 60px;
}
.left-side-icon8 {
  width: 28.4px;
  height: 11.1px;
  position: absolute;
  margin: 0 !important;
  top: 28.2px;
  left: 33.5px;
}
.icon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.text-frame2 {
  flex: 1;
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.content6,
.list-manu9,
.listitem-bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content6 {
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  gap: var(--gap-base);
}
.list-manu9,
.listitem-bottom {
  justify-content: center;
}
.list-manu9 {
  border-radius: var(--br-5xs);
  padding: var(--padding-smi) var(--padding-smi) var(--padding-mini);
}
.listitem-bottom {
  cursor: pointer;
}
.left-frame1,
.menu {
  display: flex;
  justify-content: flex-start;
}
.left-frame1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  text-align: left;
  color: var(--light-subtext);
}
.menu {
  flex: 1;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 1px 0 0#dedede;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 112px 0 104px var(--padding-11xs);
  position: relative;
  gap: 81px;
  z-index: 3;
  font-size: var(--font-size-base);
  color: var(--neutral-white);
  font-family: var(--font-open-sans);
}
.chevron-icon {
  height: 28.7px;
  width: 33px;
  position: absolute;
  margin: 0 !important;
  top: 46px;
  right: 2px;
  cursor: pointer;
  z-index: 4;
}
.food-card-frame,
.nav {
  width: 268px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  position: relative;
}
.nav {
  width: 100%;
  height: 885px;
  border-radius: var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-5xs);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray-600);
  font-family: var(--font-poppins);
}
.add-to-cart1 {
  margin: 0;
  align-self: stretch;
  height: 78px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.horizontal-vector-icon {
  height: 37.7px;
  width: 38.4px;
  position: relative;
  min-height: 38px;
  z-index: 1;
}
.frame-child14 {
  height: 37px;
  width: 87px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-lightgray);
  display: none;
}
.empty-space1 {
  height: 30px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.rectangle-parent5 {
  border-radius: var(--br-5xs);
  background-color: var(--color-lightgray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-18xl) var(--padding-9xs)
    var(--padding-19xl);
  margin-left: -21px;
}
.horizontal-vector-icon1 {
  height: 37.7px;
  width: 38.4px;
  position: relative;
  min-height: 38px;
  z-index: 1;
  margin-left: -21px;
}
.price-frame,
.vector-vector {
  flex-direction: row;
  align-items: flex-start;
}
.vector-vector {
  display: flex;
  justify-content: flex-start;
}
.price-frame {
  padding: 0 0 0 var(--padding-9xs);
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-400);
}
.add-to-cart-parent,
.items-container,
.price-frame {
  display: flex;
  justify-content: flex-start;
}
.add-to-cart-parent {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-3xl);
}
.items-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 25px 0 var(--padding-2xl);
  text-align: center;
  font-size: 36px;
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.items-frame-child {
  height: 49px;
  width: 307px;
  position: relative;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-31xl) var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  border: 3px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  display: none;
}
.items1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.currencynaira-ngn-icon9 {
  height: 16px;
  width: 19px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.empty-frame1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.naira-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  color: rgba(152, 152, 152, 0.85);
}
.add-to-cart,
.items-frame {
  background-color: var(--color-whitesmoke-100);
  display: flex;
}
.items-frame {
  align-self: stretch;
  border-radius: var(--br-3xs) var(--br-3xs) var(--br-31xl) var(--br-31xl);
  border: 3px solid var(--color-mediumaquamarine);
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-9xl) var(--padding-base)
    var(--padding-8xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: rgba(136, 136, 136, 0.85);
  font-family: var(--font-poppins);
}
.add-to-cart {
  width: 383px;
  position: relative;
  border-radius: var(--br-31xl);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 66px var(--padding-17xl) var(--padding-26xl) 40px;
  box-sizing: border-box;
  gap: 73px;
  max-width: 90%;
  max-height: 90%;
}
